apiVersion: v1
kind: Service
metadata:
  name: {{ include "ambassador-agent.fullname" . }}
  namespace: {{ include "ambassador-agent.namespace" . }}
  labels:
    app.kubernetes.io/name: {{ include "ambassador-agent.name" . }}
    helm.sh/chart: {{ include "ambassador-agent.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 80
      name: http
      targetPort: http
  selector:
    {{- include "ambassador-agent.selectorLabels" . | nindent 4 }}
