name: "Unit test"
on:
  pull_request:
jobs:
  unittest:
    runs-on: ubuntu-latest
    steps:
      - name: Git Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: "${{ github.event.pull_request.head.sha }}"
      - name: Get Last Run
        uses: ./.github/actions/rerun-cache
        id: get_last_run
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.19"
      - name: Lint
        run: make lint
      - name: Run Tests
        if: steps.get_last_run.outputs.passed != 'success'
        run: make unit-test
      - name: Report Success
        run: echo "::set-output name=run_result::success" > run_result
